<!DOCTYPE html>
<html>
<head>
  <title>Course List</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
    $("li").click(function(){
        $(this).hide();
    });
});
</script>
</head>
<body>
  <h1> COURSE SELECTION </h1>
    <h2>Please click on the courses you would like to take and hit submit when finished.</h2>
 	<form action="/course" method="POST">
 	<ul>
 		<li id= "item">Spanish Intro Course</li>
 		<li id= "item">French Intro Course</li>
 		<li id= "item">Geometry Intro Course</li>
 		<li id= "item">Psychology Intro Course</li>
 		<li id= "item">Abnormal Psychology</li>
 		<li id= "item">Psychology of Prejudice</li>
 		<li id= "item">Female Crime & Delinquency</li>
 		<li id= "item">Cognitive Psychology</li>
 		<li id= "item">World Anthropology</li>
 		<li id= "item">Human Sexuality</li>
 		<li id= "item">Pre Industrial American Architecture</li>
 		<li id= "item">Post Industrial American Architecture</li>
 		<li id= "item">Introduction to Computer Programming</li>
 		<li id= "item">Conquering your fear of Coding</li>
 		<li id= "item">Stress Management</li>
 		<li id= "item">Mapping your Future: Help! What am I going to do after college?</li>
 		<button type="submit" >submit</button>
 	</ul>
 	</form>
 	
</body>
</html>