<!DOCTYPE html>
<html>
<head>
  <title>Course List</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js"></script>
</head>
<body>
  <h1> COURSE SELECTION </h1>
    <h2>Please click on the courses you would like to take and hit submit when finished.</h2>
 	<ul id="list">
 		<li>Spanish Intro Course</li>
 		<li>French Intro Course</li>
 		<li>Geometry Intro Course</li>
 		<li>Psychology Intro Course</li>
 		<li>Abnormal Psychology</li>
 		<li>Psychology of Prejudice</li>
 		<li>Female Crime & Delinquency</li>
 		<li>Cognitive Psychology</li>
 		<li>World Anthropology</li>
 		<li>Human Sexuality</li>
 		<li>Pre Industrial American Architecture</li>
 		<li>Post Industrial American Architecture</li>
 		<li>Introduction to Computer Programming</li>
 		<li>Conquering your fear of Coding</li>
 		<li>Stress Management</li>
 		<li>Mapping your Future: Help! What am I going to do after college?</li>
 	</ul>
 	<button type="submit">submit</button>
</body>
</html>